body {
    text-align: center;
    justify-content: center;
    display: flex;

    --color1: #03AF11;
    --color2: #03AF67;
    --color3: #03A1AF;
    --color4: #1103AF;
    background: url("https://www.flaticon.com/free-icon/bakery-store_80078");
}

.hidden {
    display: none;
}

.heading {
    color: var(--color4);
}

.menu {
    position: absolute;
    bottom: 5px;
}

.menu-content {
    padding: 10px;

}

.hidden {
    display: none;
}